.absolute {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 12px;
  width: 28px;
  height: 28px;
  @media screen and (min-width: 480px) {
    margin: 16px;
    width: 32px;
    height: 32px;
  }
}

.hidden{
  display: none;
}

.visible{
  display: flex;
}