.btn:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 9px -5px rgba(255, 213, 104, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 9px -5px rgba(255, 213, 104, 0);
  background-color: #bababad0;
}

.lang-button:hover {
  background-color: #76acfd;
}

.erase-input-button:hover,
.reset-translation-button:hover {
  background-color: #f00000;
}

.favorite-btn:hover {
  color: #e9c130;
  background-color: #f7f7f7;
}

.lang-list::-webkit-scrollbar {
  display: none;
}

.show-favorite-btn:hover {
  transform: translateX(30%);
  background-color: #e9c130;
}
