* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  display: unset;
  text-decoration: none;
  color: unset;
  user-select: none;
  cursor: unset;
}

ul,
li {
  list-style-type: none;
  color: unset;
}

button {
  border: 0;
}
